<div class="carte">
  <p class="titre"> {{produit.nom_produit}}</p>
  <div class = "content" >
    <img src="{{produit.imageUrl}}" alt="...">
    <div (click)="detailProduct()" class="details">
        <p>Cadence : {{produit.vitesse}} fleche/s</p>
        <p>Taille : {{produit.taille}} cm</p>
        <p>Cap chargeur  : {{produit.capacite_chargeur}} fleche</p>
        <p>Temps recharge : {{produit.temps_recharge}} s</p>
        <p>Précision : {{produit.precision}}/10</p>
        <p>note  : {{produit.note_produit}}/5</p>
    </div>
  </div>
</div>
