<br><br><br>

<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{user[0].pseudo}}</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="user-info">
                            <div class="use-info-input">
                                <h6 class="mb-0">Prénom</h6>
                                <label for="Nom" class="input-label"></label>
                                <input type="text"  [(ngModel)]="user[0].prenom" required class="input" #prenom>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="use-info-input">
                                <h6 class="mb-0">Nom</h6>
                                <label for="Nom" class="input-label"></label>
                                <input type="text"  [(ngModel)]="user[0].nom" required class="input" #nom>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="use-info-input">
                                <h6 class="mb-0">Email</h6>
                                <label for="Nom" class="input-label"></label>
                                <input type="text"  [(ngModel)]="user[0].email" required class="input" #email>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="use-info-input">
                                <h6 class="mb-0">Pseudo</h6>
                                <label for="Nom" class="input-label"></label>
                                <input type="text"  [(ngModel)]="user[0].pseudo" required class="input" #pseudo>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <button (click)="updateObject()" type="button" class="btn btn-primary px-4" >Save Changes</button>
                                <p  class="indication error" > {{erreur}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
