:root{


    --headPrincipal: #2221a3;
    --headSecond : #fb7902 ;
    --backColor : #ffffff;
    --backColor2 : #efefef;
    --degradeColorD : #bb5a01;
    --degradeColor :#fb7902 ;
    --darkBlue : #2221a3 ;
    --blue : #2221a3;
    --orange : #fb7902;
    --black : #000000;
    --white : #ffffff;
    --shadow : #000000;
    --hoverColor: #fb7902;
    --fontColor1: #000000;
    --fontColor2 : #ffffff;
    --fontColor3 : #fb7902;
    --butonCback1 : #fb7902 ;
    --butonCborder: #000000;

    --minRadius : 10px;
    --maxRadius : 20px;
}

[data-theme="dark"]{

    --headPrincipal: #051b55;
    --headSecond : #960421;
    --backColor : #181818;
    --backColor2 : #262626;
    --degradeColorD : #b20225;
    --degradeColor :#960421 ;
    --darkBlue : #96043e ;
    --blue : #b20225 ;
    --orange : #b20225;
    --black : #444c4e;
    --white : #ffffff;
    --shadow : #000000;
    --hoverColor: #051b55;
    --fontColor1: #ffffff;
    --fontColor2 : #000000;
    --fontColor3 : #b20225;
    --butonCback1 : #96043e ;
    --butonCborder: #0b2b80;
}

body{
    color: var(--fontColor1);
}


body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--orange); /* color of the tracking area */
    margin-top: 200%;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--darkBlue ); /* color of the scroll thumb */
    border-radius: 3px; /* roundness of the scroll thumb */
    border: 1px solid var(--orange); /* creates padding around scroll thumb */
}

