
*{
    color: var(--fontColor1);
}

.body-section{
    
    width: 100%;
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail{
    padding-top: 1em;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--backColor);
    width: 60%;
    min-height: 35em;
    box-shadow: 0px 0px 6px 0px var(--shadow) ;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background-color: var(--backColor);
    width: 100%;
    height: auto;
    min-height: 20em;
    border-top: solid 2px var(--fontColor3);
    border-bottom: solid 2px var(--fontColor3);
}

.carousel{
    width: 55%!important;
    height: 55%!important;
    border-right: solid 1px var(--black);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color:var(--fontColor1);

    width: 40%;
    height: 100%!important;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--backColor);
    border: none;
}

.images{
    height: 9em;
    min-height: 9em;

    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;  
}

.titre{
    font-weight: bold;
    font-size:3em;
    text-align: center;
    color: var(--fontColor3);
    
    box-sizing: border-box;

    width: 100%;
    max-height: 10em;
    overflow: hidden;
}

.description{
    font-weight: bold;
    font-size:auto;
    text-align: start;
    box-sizing: border-box;
    color: var(--fontColor1);
    width: 100%;
    padding-left: 4rem;
}

.etat{
    font-weight: bold;
    font-size:auto;
    text-align: start;
    
    box-sizing: border-box;

    width: 100%;
    max-height: 5.5em;
    margin-bottom: 1rem;
    padding-left: 4rem;
}

.vendeur{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    font-size:auto;
    text-align: center;

    box-sizing: border-box;

    width: 100%;
    max-height: 3em;
    margin-top: 20px;
}

.prix{
    font-weight: bold;
    font-size: 2em;
    color: var(--fontColor3);
}

p{
    margin: 0px;
    color: var(--fontColor1);
}

.nav-button{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    width: 100%;
    height: 3rem;
}

.button-nav{
    background-color: var(--headPrincipal);
    color : var(--white);
    border : solid 1px var(--butonCborder);
    border-radius: var(--minRadius);
    padding-left: 1em;
    padding-right: 1em;

    

    &:hover{
        background-color: var(--butonCback1);
        border-color : var(--butonCborder);
        transition: color 2s;
        box-shadow: 0px 0px 8px var(--shadow);
    }
}

// form css

#souv{
    display: none;
}

.toggler{
    display: block;
    width: 60px;
    height: 30px;
    border:  2px solid var(--blue);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.ball,
.fa-xmark,
.fa-check{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fa-xmark{
    left: 4px;
}

.fa-check{
    right: 4px;
}

.ball{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

#souv:checked + .ball{
    transform: translate(29px,-50%);
    background-color: var(--orange);
}

.souv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around ;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    
    background-color: var(--backColor);
}

.user-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.use-info-input{
    padding: 1em;
    color: var(--fontColor1);
    position: relative;
}

.input{
    padding: 5px;
    border: none;
    border-radius: var(--minRadius);
    font : inherit;
    color: var(--blue);
    background-color: var(--backColor);
    outline: 2px solid var(--blue);
}

.input-label{
    position: absolute;
    top : 0;
    left: 0;
    transform: translate(35px,20px);
    transition: transform .25s;
}

.input:focus+.input-label,
.input:valid+.input-label{
    transform: translate(35px,0px) scale(.8);
    color: var(--orange);
    padding-inline: 5px;
    background-color: var(--backColor);
}

.input:is(:focus,:valid){
    outline-color: var(--orange);
}

.descriptionProd{
    overflow-y: auto;
    max-height: 4.9em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;
}


.buttonValid{
    background-color: var(--backColor);
    color : var(--fontColor1);
    border : solid 1px var(--fontColor1);
    border-radius: var(--minRadius);
    min-width: 10%;

    &:hover{
        background-color: var(--headPrincipal);
        border-color : var(--fontColor3);
        color : var(--white);
        box-shadow: 0px 0px 8px var(--shadow);
    }
}

.buttonCancel{
    background-color: var(--backColor);
    color : var(--fontColor1);
    border : solid 1px var(--fontColor1);
    border-radius: var(--minRadius);
    min-width: 10%;

    &:hover{
        background-color: var(--butonCback1);
        border-color : var(--headPrincipal);
        box-shadow: 0px 0px 8px var(--shadow);
    }
}