<section class= "body-section">
    <div class = "detail">
      <div class="nav-button">
        <button class="button-nav" [routerLink]="['/ventes']"><i class="fa-solid fa-chevron-left"></i> Retour aux ventes </button>
        <button *ngIf="article.vendeurId == currentUser" class="button-nav" (click)="modifVente()"><i class="fa-solid fa-pencil"></i> Modifer l'annonce </button>
      </div>
      <p class="titre"> {{article.titre}}</p>
      <p> Vendu par : {{user[0].pseudo}}</p>
      <p> Contacter : {{user[0].email}}</p>
      
      <div class="content">
        <div *ngIf="nbImage()>1;else uniqueImage" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button *ngIf="otherImage(0)" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button *ngIf="otherImage(1)" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button *ngIf="otherImage(2)" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div> 
            <div class="carousel-inner">
              <div  *ngIf="otherImage(0)" class="carousel-item active" data-bs-interval="5000"> 
                <img src="{{article.image1}}" class="d-block w-100" alt="...">
              </div>
              <div  *ngIf="otherImage(1)" class="carousel-item" data-bs-interval="2000"> 
                <img src="{{article.image2}}" class="d-block w-100" alt="...">
              </div>
              <div  *ngIf="otherImage(2)" class="carousel-item" data-bs-interval="2000"> 
                <img src="{{article.image3}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <ng-template #uniqueImage>

            <!-- <img src="{{article.image1}}"  alt="..."> -->
            <div class="carousel-inner">
              <div   class="carousel-item active" data-bs-interval="5000"> 
                <img src="{{article.image1}}" class="d-block w-100" alt="...">
              </div>
            </div>
        </ng-template>
        
        <div *ngIf="!modif" class = "card">
          <div class = "description">
            <p>Nom officiel: {{produit.nom_produit}}</p>
            <p> Taille : {{produit.taille}} cm</p>
            <p> vitesse balle : {{produit.vitesse}} km/h</p>
            <p>Article en stock : {{article.stock}}</p>
            <p> Capacité chargeur : {{produit.capacite_chargeur}}</p>
            <p>Temps de recharge : {{produit.temps_recharge}}</p>
            <p>Précision: {{produit.precision}}</p>
          </div>
          <div class = "etat">
            <p> Etat  : {{article.etat}}</p>
            <p *ngIf="article.custom ; else customNon"> Customisé : oui</p>
            <ng-template #customNon> Customisé : non</ng-template>
            <p> Munitions : {{article.munitionSupp}}</p>
          </div>
          <div class = "vendeur">
            <p class = 'prix'> {{article.prix}}€ </p>
            <!-- <p> Vendu par : {{user[0].pseudo}}</p>
            <p> Contacter : {{user[0].email}}</p> -->
          </div>
        </div>

        
        <section *ngIf="modif" class="card">
          <div class="user-info">
            <i class="fa-regular fa-t"></i>
            <div class="use-info-input">
                <input type="text"  [(ngModel)]="article.titre" required class="input" #nom>
                <label for="Nom" class="input-label"> Titre Annonce </label>
            </div>
        </div>
        
        <div class="user-info">
            <i class="fa-regular fa-t"></i>
            <div class="use-info-input">
                <input type="number"  [(ngModel)]="article.stock" min="0" required class="input" #nom>
                <label for="Nom" class="input-label"> nombre d'article a vendre </label>
            </div>
        </div>
    
        <div class="user-info">
        <div class ="souv">
          <label for="souv" class="toggler">
            <input type="checkbox" [(ngModel)]="article.custom" name="pro" id ="souv" #souv>
            <span class="ball"></span>
            <i class ="ri-cross-line sun"></i>
            <i class ="ri-sun-line sun"></i>
          </label>
          <p class="ball-text"> Article custom ? </p>
        </div>
      </div>
    
        <div class="user-info">
          <i class="fa-solid fa-maximize"></i>
          <div class="use-info-input">
            <input type="number" [(ngModel)]="article.munitionSupp" min="0" required class="input" #taille>
            <label for="taille" class="input-label"> Munition supplementaires</label>
          </div>
        </div>
    
        <div class="user-info">
            <i class="fa-regular fa-t"></i>
            <div class="use-info-input">
                <select class="input" [(ngModel)]="article.etat" aria-label="Default select example">
                    <option >Neuf avec emballage</option>
                    <option >Neuf sans emballage</option>
                    <option >Occasion</option>
                    <option >Reconditionné</option>
                </select>
                <label for="Nom" class="input-label"> Etat produit </label>
            </div>
        </div>
        
    
        <div class="user-info">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <div class="use-info-input">
              <input type="number" [(ngModel)]="article.prix" required class="input" #nom>
              <label for="email" class="input-label">prix : {{article.prix}}€</label>
            </div>
        </div>      
        <div class="form-group">
          <button type="submit" class="buttonValid" style="margin-bottom: 1em;" (click)="updateArticle()"> Modifier produit  </button>
        </div>
        <div class="form-group">
          <button type="submit" class="buttonCancel" (click)="DeleteArticle()"> Supprimer produit  </button>
        </div>
        </section>
      </div>
      <p class="descriptionProd"> {{produit.description}}</p>
      <div class="nav-button">
        <button class="button-nav" *ngIf="!isLiked" (click)="like()"><i class="fa-regular fa-heart"></i> </button>
        <button class="button-nav" *ngIf="isLiked" (click)="like()"><i class="fa-solid fa-heart"></i> </button>
        <button *ngIf="article.vendeurId == currentUser" class="button-nav" (click)="modifVente()"><i class="fa-solid fa-pencil"></i> Modifer l'annonce </button>
      </div>
    </div>
    
</section>

