<nav class = headbar>
    <div class = "head-div">
        <section class = "sdiv">
            <div class ="souv">
                <label for="checkbox" (input)="changeColor()" class="toggler">
                    <input type="checkbox" id ="checkbox">
                    <span class="ball"></span>
                    <i class="fa-solid fa-sun"></i>
                    <i class="fa-solid fa-moon"></i>
                </label>
            </div>
            <div class = "search">
                <input  class ="searchInput" type="search" placeholder="recherche" aria-label="Search">
                <button class ="searchButton"  type="submit"> Q</button>
            </div>
        </section>
        <section class = "sdiv">
            <img class="logo" src="../../assets/files/img/logo_UTxShot.png" alt="" [routerLink]="['']" >
        </section>
        <section class = "sdiv">
            <div class="profile" *ngIf="!isSignedIn">
                    <button class="login-btn" [routerLink]="['/connection']"> <i class="fa-solid fa-right-to-bracket"></i> Se connecter </button>
            </div>
            <div class="profile" *ngIf="isSignedIn">
                <div *ngIf="comptePro" class ="pro">
                    <button class="pro-btn" [routerLink]="['/nouveauProduit']"> <i class="fa-solid fa-circle-plus"></i> Produit </button>
                    <button class="pro-btn" [routerLink]="['/nouveauArticle']"> <i class="fa-solid fa-cart-plus"></i> Vente </button>
                </div>
                <div *ngIf="!comptePro" class ="pro">
                    <button class="pro-btn" [routerLink]="['/favoris', this.firebaseService.getUserID()]"><i class="fa-solid fa-heart"></i></button>
                </div>
                <img *ngIf="imageDeProfilURL != ''" [src]="imageDeProfilURL" alt="image profil">
                <button class="login-btn" (click)="goProfile()"> <i class="fa-solid fa-user"></i>  profil </button>
                <button class="login-btn"  (click)="logout()"> <i class="fa-solid fa-person-through-window"></i> </button>
                    
            </div>
        </section>
        
    </div>
    <div class = "nav-bar">
        <button [routerLink]="['/lieux']"> Lieux </button>
        <button [routerLink]="['/parties']"> Parties </button>
        <button [routerLink]="['/ventes']"> Ventes </button>
        <button [routerLink]="['/wikishot']"> WikiShot </button>
    </div>
</nav>


