<div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../assets/files/img/logo_UTxShot1.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/files/img/logo_UTxShot2.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
            </div>


            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h2 >Connectez-vous a votre compte UTxSHOT</h2>
                                    <div class="form-group mb-3">
                                        <input type="email" required class="input" #email>
                                        <label for="email" class="input-label"> Adressse email</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" #password required class="input">
                                        <label for="mdp" class="input-label "> Mot de passe </label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <div class ="souv">
                                            <label for="souv" class="toggler">
                                                <input type="checkbox" id ="souv">
                                                <span class="ball"></span>
                                                <i class ="ri-cross-line sun"></i>
                                                <i class ="ri-sun-line sun"></i>
                                            </label>
                                            <p class="ball-text"> Se souvenir de moi </p>
                                        </div>
                                    </div>
                                    
                                    <button (click)="onSignin(email.value,password.value)" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Se connecter</button>
                                    
                                    <div class="text-center d-flex justify-content-between mt-4"><p>Pas de compte ? <a [routerLink]="'/inscription'" class="font-italic text-muted"> 
                                            <u>Inscrivez-vous</u></a></p></div>
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->

        </div>
    </div>
</div>

