<!DOCTYPE html>
<html>
   <head>
       <title>Créer une vente</title>
       <meta charset='utf-8'>
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">
            <h1>Créer une vente</h1>
            <form>
              <fieldset>
                <legend>Complétez ce formulaire pour créer votre vente.</legend>
                
                <div class="form-group">
                  <label for="nom">Nom du produit</label>
                  <input type="text" class="form-control" id="nom" placeholder="Exemple: Nerf Sniper">
                </div>
                
                <div class="form-group">
                  <label for="Taille">Taille</label>
                  <input class="form-control" id="taille" placeholder="">
                </div>

                <div class="form-group">
                    <label for="vitesse balles"> Vitesse balle</label>
                    <input class="form-control" id="vitesse" placeholder="">
                </div>

                <div class="form-group">
                    <label for="selection">Viseur</label>
                    <select id="selection" class="form-control">
                        <option value="">Liste de choix...</option>
                        <optgroup label="Option">
                        <option value="True">Oui</option>
                        <option value="False">Non</option>
                        </optgroup>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="Capacité"> Capacité chargeur</label>
                    <input class="form-control" id="capChargeur" placeholder="">
                </div>
                
                <div class="form-group">
                    <label for="selection">État</label>
                    <select id="selection" class="form-control">
                        <option value="">Liste de choix...</option>
                        <optgroup label="Option">
                        <option value="Neuf avec emballage">Neuf avec emballage</option>
                        <option value="Neuf sans emballage">Neuf sans emballage</option>
                        <option value="Comme neuf">Comme neuf</option>
                        <option value="Très peu usé">Très peu usé</option>
                        <option value="Comporte des traces d'usures">Comporte des traces d'usures</option>
                        <option value="Usé">Usé</option>
                        <option value="A restaurer">A restaurer</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection">Customisé</label>
                    <select id="selection" class="form-control">
                        <option value="">Liste de choix...</option>
                        <optgroup label="Option">
                        <option value="True">Oui</option>
                        <option value="False">Non</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Munition"> Munitions</label>
                    <input class="form-control" id="Mun" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Prix"> Prix</label>
                    <input class="form-control" id="Prix" placeholder="">
                </div>
              </fieldset>
            </form>
        </div>
   </body>
</html>
