<!-- <div class = "card" (click)="goOnDetail()">
    <div class = "images">
      <img src="{{article.image[0]}}" alt="...">
    </div>
    
    <div class = "description">
      <p> Taille : {{article.taille}} cm</p>
      <p> vitesse balle : {{article.puissance}} km/h</p>
      <p *ngIf="article.viseur; else viseurNon"> Viseur : oui </p>
      <ng-template #viseurNon> Viseur : non </ng-template>
      <p> Capacité chargeur : {{article.cap_chargeur}}</p>
    </div>
    <div class = "etat">
      <p> Etat  : {{article.etat}}</p>
      <p *ngIf="article.custom ; else customNon"> Customisé : oui</p>
      <ng-template #customNon> Customisé : non</ng-template>
      <p> Munitions : {{article.munitionSupp}}</p>
    </div>
    <div class = "vendeur">
      <p class="prix"> {{article.prix}}€</p>
      <p> note vendeur :</p>
    </div>
</div> -->

<!--
  
-->
<div class="carte">
  <p class="titre"> {{article.titre}}</p>
  <div class = "content" (click)="goOnDetail()">
    <img src="{{article.image1}}" alt="...">
    <div class="details">
        <p> Etat  : {{article.etat}}</p>
        <p *ngIf="article.custom ; else customNon"> Customisé : oui</p>
        <ng-template #customNon> Customisé : non</ng-template>
        <p> Munitions : {{article.munitionSupp}}</p>
        <div class = "vendeur">
          <p class="prix"> {{article.prix}}€</p>
        </div>
    </div>
  </div>
</div>
