
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 15rem;
    height: 26rem;
    margin: 0px;
    margin-bottom: 2em;
    padding: 0px;

    box-sizing: border-box;
    background-color: var(--backColor2);
    border: solid 2px var(--blue);
    border-radius: var(--maxRadius);

    color: var(--fontColor1);
    box-shadow: 1px -1px 8px var(--shadow) ;

    padding-top: 0.5em;

    &:hover{
        border-color: var(--hoverColor);
        box-shadow: 1px -1px 16px 4px var(--shadow) ;
    }
}

.titre{
    font-size: 1.5em;
    color: var(--fontColor1);
}


img{
    box-sizing: border-box;

    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;

}

.images{
    height: 9em;
    min-height: 9em;

    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;  
}

.titre{
    font-weight: bold;
    font-size:auto;
    text-align: center;
    
    box-sizing: border-box;

    width: 100%;
    max-height: 4em;
    border-bottom: solid 2px var(--orange);
    overflow: hidden;
}

.description{
    font-weight: bold;
    font-size:auto;
    text-align: center;
    
    box-sizing: border-box;


    width: 100%;
    max-height: 6.5em;
    border-bottom: double 2px var(--blue);
    overflow: auto;
}

.etat{
    font-weight: bold;
    font-size:auto;
    text-align: center;
    
    box-sizing: border-box;

    width: 100%;
    max-height: 5.5em;
    border-bottom: double 2px var(--blue);
}

.vendeur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    font-size:auto;
    text-align: center;

    box-sizing: border-box;

    width: 100%;
    max-height: 3em;
}

.prix{
    font-weight: bold;
    font-size: 2em;
    color: var(--fontColor3);
}

p{
    margin: 0px;
}