
// .card{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;

//     width: 15rem;
//     height: 26rem;
//     margin: 0px;
//     margin-bottom: 2em;
//     padding: 0px;

//     box-sizing: border-box;
//     background-color: var(--backColor2);
//     border: solid 2px var(--blue);
//     border-radius: var(--maxRadius);

//     color: var(--fontColor1);
//     box-shadow: 1px -1px 8px var(--shadow) ;

//     padding-top: 0.5em;

//     &:hover{
//         border-color: var(--hoverColor);
//         box-shadow: 1px -1px 16px 4px var(--shadow) ;
//     }
// }

// .titre{
//     font-size: 1.5em;
//     color: var(--fontColor1);
// }


// img{
//     box-sizing: border-box;

//     height: auto;
//     width: auto;
//     max-width: 100%;
//     max-height: 100%;

// }

// .images{
//     height: 9em;
//     min-height: 9em;

//     width: 95%;

//     display: flex;
//     align-items: center;
//     justify-content: center;  
// }

// .titre{
//     font-weight: bold;
//     font-size:auto;
//     text-align: center;
    
//     box-sizing: border-box;

//     width: 100%;
//     max-height: 4em;
//     border-bottom: solid 2px var(--orange);
//     overflow: hidden;
// }

// .description{
//     font-weight: bold;
//     font-size:auto;
//     text-align: center;
    
//     box-sizing: border-box;


//     width: 100%;
//     max-height: 6.5em;
//     border-bottom: double 2px var(--blue);
//     overflow: auto;
// }

// .etat{
//     font-weight: bold;
//     font-size:auto;
//     text-align: center;
    
//     box-sizing: border-box;

//     width: 100%;
//     max-height: 5.5em;
//     border-bottom: double 2px var(--blue);
// }

// .vendeur{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;

//     font-weight: bold;
//     font-size:auto;
//     text-align: center;

//     box-sizing: border-box;

//     width: 100%;
//     max-height: 3em;
// }

// .prix{
//     font-weight: bold;
//     font-size: 2em;
//     color: var(--fontColor3);
// }

// p{
//     margin: 0px;
// }

.content{
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    position: relative; 
    cursor: pointer; 
    border : solid 1px var(--blue);
    background-color: var(--backColor);
    border-bottom-left-radius: var(--maxRadius);
    border-bottom-right-radius: var(--maxRadius);

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.content img {
    height: 100%;
    width: 100%;
}

.content:hover .details{

    opacity: 1;
    height: 100%; 

} 



.details {
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 15rem;
    height: 0% ;
    background: rgba(0, 0, 0,0.9); 
    color: var(--white);
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    opacity: 0;
    transition: 0.5s ease;
}

.titre{
    height: 2rem;
    width: 15rem;
    overflow: hidden;
    position: relative; 
    cursor: pointer; 
    border :solid 1px var(--blue);
    background-color: var(--blue);
    color: var(--fontColor2);
    font-size: 1.3rem;
    font-weight: bold;
    
    border-top-left-radius: var(--maxRadius);
    border-top-right-radius: var(--maxRadius);

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.prix{
        font-weight: bold;
        font-size: 2em;
        color: var(--fontColor3);
     }

.carte{
    margin: 0px;
    padding: 0px;
    height: 17rem;
    width: 15rem;
    background-color: none;
    border: none;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border : none;
    border-radius: var(--maxRadius);

    box-shadow: 1px -1px 8px var(--shadow) ;

    &:hover{
        
        .content{
            border-color: var(--hoverColor);
        }
        .titre{
            border-color: var(--hoverColor);
        }
        box-shadow: 1px -1px 16px 4px var(--shadow) ;
    }

}

p{
    margin: 0px;
    text-align: center;
    
}

 .vendeur{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     font-weight: bold;
     font-size:auto;
     text-align: center;

     box-sizing: border-box;

     width: 100%;
     max-height: 3em;
 }