<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sources</h3>
                    <ul>
                        <li><a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap</a></li>
                        <li><a href="https://openclassrooms.com/fr/courses/7471261-debutez-avec-angular/7471268-tirez-le-maximum-de-ce-cours">OpenClassRooms</a></li>
                        <li><a href="#">UV WE4B et UV HM40</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Outils</h3>
                    <ul>
                        <li><a href="https://angular.io/">Angular</a></li>
                        <li><a href="https://firebase.google.com/">FireBase</a></li>
                        <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>UT x SHOT</h3>
                    <p>Le club de blaster en plastique de l'association étudiante de l'université de technologie de Belfort Montbéliard</p>
                </div>
                <div class="col item social">
                    <a href="#"><span class="iconify" data-icon="ion:logo-facebook"></span></a>
                    <a href="#"><span class="iconify" data-icon="ion:logo-instagram"></span></a>
                    <a href="#"><span class="iconify" data-icon="ion:logo-snapchat"></span></a>
                </div>
            </div>
            <p class="copyright">UV HM40/WE4B © 2022</p>
        </div>
    </footer>
</div>

